.profile-data{
  margin-top: 40px;
  &:after{
    content: '';
    display: block;
    border-bottom: 1px solid $grey-8;
    width: 82%;
    margin: 0 auto;
    margin-top: 25px;
  }
}

.profile-images{

  > .avatar{
    max-width: 80px;
    max-height: 80px;
    margin-bottom: 20px;
  }
  > .logo{
    max-width: 80px;
    max-height: 80px;
  }

  img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

}

.profile-info{

  > h3.role{
    margin: 0;
    font-family: Circle-Regular,sans-serif;
    font-size: 16px;
    line-height: 1;
    color: $black;
    margin-bottom: 15px;
  }
  > h2.name{
    margin: 0;
    font-family: Circle-Bold,sans-serif;
    font-size: 22px;
    line-height: 1;
    color: $black;
    margin-bottom: 20px;
  }
  > h3.company{
    margin: 0;
    font-family: Circle-Bold,sans-serif;
    font-size: 16px;
    line-height: 1;
    color: $black;
    margin-bottom: 10px;
  }
  p.address{
    margin: 0;
    font-family: Circle-Regular,sans-serif;
    font-size: 14px;
    line-height: 1;
    color: $black;
    margin-bottom: 10px;
  }
  > a.site{
    font-family: Circle-Regular,sans-serif;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    color: $main-blue;
    &:hover{
      color: $main-blue_hover;
    }
  }
}

.user-contacts{
  @include mq($from: xs, $until: lg) {
    margin-left: 23%;
    margin-top: 20px;
  }

  > a.contact{
    display: block;
    font-family: Circle-Regular,sans-serif;
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
    color: $black;
    margin-bottom: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;

    > svg{
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      fill: $main-blue;
      margin-right: 12px;
    }
    &.-phone{}
    &.-mail{}
    &.-linkedin{}
    &.-skype{}
  }
}