div.lead-block-wrapper{
  background-repeat: no-repeat;
  background-image: url(../img/lead-background.jpg);
  background-size: 100%;
  min-height: 300px;
  height: calc(100vh - 68px);
  position: relative;
  overflow: hidden;
  @include mq($from: xs, $until: sm) {
    height: calc(100vh - 58px);
  }
  @include mq($until: xl) {
    background-image: url(../img/lead-bg.jpg);
    background-repeat: repeat;
  }
  @include mq($from: xl) {
    background-size: cover;
  }

  > .bg-block{
    position: absolute;
    width: 100%;
    background-image: url(../img/lead-bg-img-new.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center 100%;
    @include mq($from: xl) {
      display: none;
    }
    @include mq($from: xs, $until: md) {
      background-image: url(../img/lead-bg-img-phone.png);
      bottom: 0;
      height: 40%;
    }
  }

  .lead-block{

    > .title{
      font-family:'Circle-Bold', sans-serif;
      font-size: 42px;
      color: #ffffff;
      margin-top: 55px;
      margin-bottom: 15px;
      @include mq($from: xs, $until: md) {
        line-height: 1.2;
        font-size: 32px;
      }
    }
    > .slogan{
      font-family:'Circle-Regular', sans-serif;
      font-size: 22px;
      color: #ffffff;
      margin-top: 0;
      margin-bottom: 30px;
      @include mq($from: xs, $until: md) {
        line-height: 1.5;
        font-size: 20px;
      }
    }
    > .btn{
      @include transition(background-color);
      color: #ffffff;
      display: inline-block;
      background-color: $green;
      text-align: center;
      font-family:'Circle-Regular',sans-serif;
      font-size: 24px;
      height: 60px;
      line-height: 60px;
      text-decoration: none;
      box-sizing: border-box;
      padding: 0 40px;
      border-radius: 3px;
      border: none;
      margin-top: 15px;
      margin-bottom: 20px;
      outline: none;
      box-shadow: 0 4px 6px rgba(0,0,0,.3);
      &:hover{
        background-color: lighten($green, 5%);
      }
    }
  }
  > a.animate-arrows{

    $ani-speed: 3s;

    @keyframes arrow-movement {
      0%   {
        top: 0;
      }
      50%{
        top: 50%;
      }
      100% {
        top: 0;
      }
    }

    position: absolute;
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    bottom: 30px;
    left: calc(50% - 20px);

    > span.arrow{
      position: absolute;
      display: inline-block;
      width: 40px;
      height: 40px;
      transform: rotate(-90deg);
      animation: arrow-movement $ani-speed ease-in-out infinite;
      > svg{
        @include transition(fill);
        width: 40px;
        height: 40px;
        //fill: lighten($main-blue, 20%);
        fill: #fff;
      }
    }
    &:hover{
      > span.arrow > svg{
        fill: $main-blue_hover;
      }
    }
  }
}


