extends templates/_template

block content

    main
        include ./components/_lead
        include ./components/_benefits
        include ./components/_how-slider
        include ./components/_different-slider
        include ./components/_best-offers-slider
        include ./components/_signin-form