.row
    .column.-xs-12
        .breadcrumbs-list
            a(href="javascript:void(0)" title="Previous page").arrow.-previous
                svg
                    use(xlink:href="#arrow")
            ul.list
                li.item
                    a(href="javascript:void(0)" title="Page 1").link 1
                li.item
                    a(href="javascript:void(0)" title="Page 2").link 2
                li.item
                    a(href="javascript:void(0)" title="Page 3").link.-active 3
                li.item
                    a(href="javascript:void(0)" title="Page 4").link 4
                li.item
                    a(href="javascript:void(0)" title="Page 5").link 5
                li.item
                    a(href="javascript:void(0)" title="More pages").link ...
                li.item
                    a(href="javascript:void(0)" title="Page 12").link 12
            a(href="javascript:void(0)" title="Next page").arrow.-next
                svg
                    use(xlink:href="#arrow")