footer(data-ng-init="footerNav = {}; footerNav.toggler = false; footerNav.menu = false;").container.-fluid.footer-inner
    .row
        .column.-xs-12.-md-10.-md-offset-1
            .wrapper
                ._md-hidden-up
                    a(href='javascript:void(0)'
                    data-ng-click="footerNav.toggler = !footerNav.toggler; footerNav.menu = !footerNav.menu"
                    data-ng-class="{'-active': footerNav.toggler === true}").footer-toggler._md-hidden-up
                        span
                nav(data-ng-class="{'-open': footerNav.menu === true}").footer-menu._sm-hidden-down
                    ul.list
                        li.item
                            a(href="javascript:void(0)" title="Send us an email").link Send us an email
                        li.item
                            a(href="javascript:void(0)" title="Send us an email").link Linkedin
                        li.item
                            a(href="javascript:void(0)" title="Send us an email").link Terms & Conditions
                        li.item
                            a(href="javascript:void(0)" title="Send us an email").link Privacy Policy
                p.copyright © OPENSEA.PRO <script>document.write(new Date().getFullYear())</script>

