ul.profile-submenu
    li.item
        a(href="profile.html" title="Profile" class=profileSubmenuProfile ? '-active':' ').link.-profile
            svg
                use(xlink:href="#profile")
            span Profile
    li.item
        a(href="profile-notifications.html" title="Notifications" class=profileSubmenuNotifications ? '-active':' ').link.-notifications
            svg
                use(xlink:href="#notifications")
            span Notifications
    li.item
        a(href="profile-security.html" title="Security" class=profileSubmenuSecurity ? '-active':' ').link.-security
            svg
                use(xlink:href="#security")
            span Security
