.row.profile-data
    .column.-xs-12.-md-7.-md-offset-1
        .row
            .column.-xs-3
                .profile-images
                    .avatar
                        img(src="../../img/pics/default-avatar.png" alt="User avatar").img
            .column.-xs-9
                article.profile-info
                    h3.role Shipowner
                    h2.name Vasiliy Ivanov
            .column.-xs-3
                .profile-images
                    .logo
                        img(src="../../img/pics/default-logo.png" alt="User's company logo").img
            .column.-xs-9
                article.profile-info
                    h3.company Trans Inter Machine
                    p.address Russia, Saint-Petersburg, 190020, Nevskiy 16 of. 23
                    a(href="http://www.transintermachine.com" target="_blank" title="Company Site").site www.transintermachine.com

    .column.-xs-12.-lg-3
        .user-contacts
            a(href="tel:+79213402478" title="Call to user").contact.-phone
                svg
                    use(xlink:href="#phone")
                span +7 (921) 340 24 78
            a(href="mailto:vasiliy.vasilievich@gmail.com" title="Mail to user").contact.-mail
                svg
                    use(xlink:href="#mail")
                span vasiliy.vasilievich@gmail.com
            a(href="https://www.linkedin.com/in/игорь-тимохин-0381225a" title="See user's Linkeidn").contact.-linkedin
                svg
                    use(xlink:href="#linkedin")
                span Linkedin
            a(href="skype:timohin.i?call" title="Skype call to user").contact.-skype
                svg
                    use(xlink:href="#skype")
                span Skype