//- Email header
table.row
    tr
        td.wrapper.last.header
            table.twelve.columns
                tr
                    td
                        a(href="https://opensea.pro/" title="OpenSea").logo-link
                            img(src="http://enkil.github.io/OpenSea/dist/img/pics/logo-email.png" width="234" height="36" alt="OpenSea")
                    td.expander