doctype
html(lang='en', prefix='og: http://ogp.me/ns#' data-ng-app="opensea")

    include ../components/_head

    body
        include ../components/_header
        include ../components/_main-menu

        main.main-inner
            block content

        include ../components/_footer

        .scripts
            script(src="../../js/vendor/vendor-bundle.js")
            script(src="../../js/custom/custom-bundle.js")