doctype
html(lang='en', prefix='og: http://ogp.me/ns#')

    include ../components/_head

    body
        include ../components/_header

        block content

        include ../components/_footer

        .scripts
            script(src="../../js/vendor/vendor-bundle.js")