// Mixin for best offer slider Component
mixin offer-cargo
    .best-offer
        .head
            svg
                use(xlink:href="#cargo")
        table.offer-data
            tr
                td Laycan
                td 20 – 25/06/2015
            tr
                td Raute <span class="arrow"></span>
                td Azov Sea Hereke
            tr
                td Cargo
                td.
                    20000 - 30000 MTS <br/>
                    BAUXITE
            tr
                td L/D Rates
                td 5000/5000 SSHEX
            tr
                td Freight idea
                td.
                    6$ per MTS <br/>
                    3.75%

// Mixin for best offer slider Component
mixin offer-shipping
    .best-offer
        .head
            svg
                use(xlink:href="#ship")
        table.offer-data
            tr
                td Date
                td 24 – 29/06/2015
            tr
                td Location
                td Salerno
            tr
                td DWCC
                td 3050 MTS
            tr
                td Type, spec
                td Coaster, Dry cargo
            tr
                td Flag, year
                td Malte, 199
            tr
                td Capacity
                td  3444 M <span>3</span>
            tr
                td Draft
                td 5M