// Mixin for best offer slider Component
mixin offer-cargo
        article.best-offer
            .head
                svg
                    use(xlink:href="#cargo")
            table.offer-data
                tr
                    td Laycan
                    td 20 – 25/06/2015
                tr
                    td Raute <span class="arrow"></span>
                    td Azov Sea Hereke
                tr
                    td Cargo
                    td.
                        20000 - 30000 MTS <br/>
                        BAUXITE
                tr
                    td L/D Rates
                    td 5000/5000 SSHEX
                tr
                    td Freight idea
                    td.
                        6$ per MTS <br/>
                        3.75%