// Mixin for best offer slider Component
mixin offer-shipping
        article.best-offer
            .head
                svg
                    use(xlink:href="#ship")
            table.offer-data
                tr
                    td Date
                    td 24 – 29/06/2015
                tr
                    td Location
                    td Salerno
                tr
                    td DWCC
                    td 3050 MTS
                tr
                    td Type, spec
                    td Coaster, Dry cargo
                tr
                    td Flag, year
                    td Malte, 199
                tr
                    td Capacity
                    td  3444 M <span>3</span>
                tr
                    td Draft
                    td 5M