// Benefits block
section.benefits
    .container
        .row
            .column.-xs-12
                h2.landing-title What benefits OpenSea gives to me?
        .row
            .column.-xs-4
                article.benefit-item.-active
                    h3.title Instantly find matching positions
                    .text
                        p.
                            As soon as you've placed a position, <br/>
                            the web-application shows you suitable ones. Easily choose the best & send offer. You will also get an email notification once somebody opens new one suitable for you.

                article.benefit-item
                    h3.title Choose best freight rates
                    .text._hide
                        p.
                            As soon as you've placed a position, <br/>
                            the web-application shows you suitable ones. Easily choose the best & send offer. You will also get an email notification once somebody opens new one suitable for you.

                article.benefit-item
                    h3.title Fix online & on the go
                    .text._hide
                        p.
                            As soon as you've placed a position, <br/>
                            the web-application shows you suitable ones. Easily choose the best & send offer. You will also get an email notification once somebody opens new one suitable for you.

                article.benefit-item
                    h3.title Realtime worldwide map
                    .text._hide
                        p.
                            As soon as you've placed a position, <br/>
                            the web-application shows you suitable ones. Easily choose the best & send offer. You will also get an email notification once somebody opens new one suitable for you.

            .column.-xs-7.-xs-offset-1
                .benefit-image
                    img(src="../../img/pics/benefits-1.png" alt="Instantly find matching positions" title="Instantly find matching positions").image