// Differents slider
section.different-slider
    .container
        .row
            .column.-xs-12
                h2.landing-title So what makes OpenSea different?
        .row
            .column.-xs-12
                // Slider
                .slider-different
                    // Slider arrows
                    .arrows
                        button.prev
                            svg
                                use(xlink:href="#arrow")
                        button.next
                            svg
                                use(xlink:href="#arrow")
                    // List of slides
                    .slides-list
                        // Slide
                        .slide.-active
                            article.difference-item
                                .text
                                    p.
                                        <strong>OpenSea combines all your daily operations.</strong><br/>
                                        You don't need to switch between fax, email <br/>
                                        or skype any more, nor to worry whether your message reached the recipient.
                            article.difference-item.-second
                                    .text
                                        p.
                                            <strong>All users have transparent reputation.</strong> <br/>
                                            It helps to reduce risk to enter negotiations with the incompetent partner. Each successful transportation reinforce your brand.
                        // SLide
                        .slide
                            article.difference-item
                                .text
                                    p.
                                        OpenSea combines all your daily operations.<br/>
                                        You don't need to switch between fax, email <br/>
                                        or skype any more, nor to worry whether your message reached the recipient.
                            article.difference-item
                                .text
                                    p.
                                        All users have transparent reputation. <br/>
                                        It helps to reduce risk to enter negotiations with the incompetent partner. Each successful transportation reinforce your brand.
                    ul.dots-list
                        li.dot.-active
                            a(href="javascript:void(0)" title="")
                        li.dot
                            a(href="javascript:void(0)" title="")
                        li.dot
                            a(href="javascript:void(0)" title="")
                        li.dot
                            a(href="javascript:void(0)" title="")