// Differents slider
section.different-slider
    .container
        .row
            .column.-xs-12
                h2.landing-title So what makes OpenSea different?
        .row
            .column.-xs-12
                // Slider
                .slider-different
                    // Slider arrows
                    .arrows
                        button.prev
                            svg
                                use(xlink:href="#arrow")
                        button.next
                            svg
                                use(xlink:href="#arrow")
                    // List of slides
                    .slides-list
                        // Slide
                        article.slide.-active
                            h3.title OpenSea combines all your daily operations.
                            p.text.
                                You don't need to switch between fax, email <br/>
                                or skype any more, nor to worry whether your message reached the recipient.
                        // Slide
                        article.slide.-active.-second
                            h3.title All users have transparent reputation.
                            p.text.
                                It helps to reduce risk to enter negotiations with the incompetent partner. Each successful transportation reinforce your brand.
                        // Slide
                        article.slide
                            h3.title OpenSea combines all your daily operations.
                            p.text.
                                You don't need to switch between fax, email <br/>
                                or skype any more, nor to worry whether your message reached the recipient.
                        // Slide
                        article.slide
                            h3.title All users have transparent reputation.
                            p.text.
                                It helps to reduce risk to enter negotiations with the incompetent partner. Each successful transportation reinforce your brand.




                    ul.dots-list
                        li.dot.-active
                            a(href="javascript:void(0)" title="")
                        - for (var i = 0; i < 7; ++i)
                            li.dot
                                a(href="javascript:void(0)" title="")
