// Footer
footer.footer
    .container
        .row
            .column.-xs-12.-md-6
                p.footer-text.
                    If you have any questions or suggestions, feel free to email us at <a href="mailto:contact@opensea.pro" title="Mail to OpenSea">contact@opensea.pro</a>
            .column.-xs-12.-md-3
                .slogan-img
                    img(src="../../svg/because_we_care.svg" alt="Because we care" title="Because we care").slogan-img
            .column.-xs-12.-md-3
                p.copyright © 2014 OPENSEA.PRO

    .svg-sprite._hide
       include ../../../../../dist/svg/sprite/sprite.svg

