// Header
header.header.container
    .row.-xs-center
        .column.-xs-10.-md-3
            a(href="index.html" title="OpenSia").logo-link
                img(src="../../svg/header-logo.svg" alt="OpenSia" title="OpenSia").logo
        .column.-xs-2._md-hidden-up
            a(href='javascript:void(0)').header-toggler._md-hidden-up.-active
                span
        .column.-xs-12.-md-9
            nav.header-menu._pull-right._sm-hidden-down.-open
                ul.list
                    li.item
                        a(href="javascript:void(0)" title="OpenSia Benefits").link Benefits
                    li.item
                        a(href="javascript:void(0)" title="OpenSia Pricing").link Pricing
                    li.item
                        a(href="javascript:void(0)" title="OpenSia Blog").link Blog
                    li.item
                        a(href="javascript:void(0)" title="Log in").link.-login Log in
