// Header
header.header.container
    .row.-xs-center
        .column.-xs-10.-md-3
            a(href="index.html" title="OpenSia").logo-link
                img(src="../../svg/header-logo.svg" alt="OpenSia" title="OpenSia").logo
        .column.-md-9._xs-hidden-down
            nav.header-menu._pull-right
                ul.list
                    li.item
                        a(href="javascript:void(0)" title="OpenSia Benefits").link Benefits
                    li.item
                        a(href="javascript:void(0)" title="OpenSia Pricing").link Pricing
                    li.item
                        a(href="javascript:void(0)" title="OpenSia Blog").link Blog
                    li.item
                        a(href="javascript:void(0)" title="Log in").link.-login Log in