// Lead block
.lead-block-wrapper
    .bg-block
    .container
        .row
            .column.-xs-12._text-center.lead-block
                h1.title Ship сhartering of the 21st century
                p.slogan Find new clients, get best offers & fix faster with OpenSea
                a(href="javacript:void(0)" title="Create account now").btn Create account now
    a(href="#benefits" title="Go deeper").animate-arrows
        span.arrow
            svg
                use(xlink:href="#arrow-2")