extends templates/_template

block content
    //- Lead block
    table.row
        tr
            td.wrapper.last
                table.twelve.columns
                    tr
                        td.text-pad
                            p.top-text-pad Hi Username,
                            p.mb0 Reliability and safety of ship chartering in the OpenSea.pro is crucial for us. Here are main points from our privacy policy:
                        td.expander
    //- Content block
    table.row.vert-mid.pb-0
        tr
            td.wrapper.offset-by-one.mq-pr0.mq-pr0
                table.two.columns
                    tr
                        td.center
                            center
                                img(src="http://enkil.github.io/OpenSea/dist/img/pics/security.png" width="32" height="47" alt="").center.security-icon
                        td.expander
            td.wrapper.last
                table.nine.columns
                    tr
                        td.right-text-pad
                            p We never transfer personal information to the third parties. Your contact information, data on the placed positions, conversations and contracts are accessible only to you.
                        td.expander

    table.row.vert-mid.pb-0
        tr
            td.wrapper.offset-by-one.mq-pr0
                table.two.columns
                    tr
                        td.center
                            center
                                img(src="http://enkil.github.io/OpenSea/dist/img/pics/list.png" width="39" height="44"  alt="").center
                        td.expander
            td.wrapper.last
                table.nine.columns
                    tr
                        td.right-text-pad
                            p Initially, all ship’s & cargo’s positions are depersonalized. The offer can be received only from the user with the position suitable to yours. Before starting negotiations you can examine the contractor's profile. Your contact information will be available only in case of your reply. No more spam, you choose only the best offers.
                        td.expander

    table.row.vert-mid.pb-0
        tr
            td.wrapper.offset-by-one.mq-pr0
                table.two.columns
                    tr
                        td.center
                            center
                                img(src="http://enkil.github.io/OpenSea/dist/img/pics/flag.png" width="36" height="39"  alt="").center
                        td.expander
            td.wrapper.last
                table.nine.columns
                    tr
                        td.right-text-pad
                            p All users have transparent reputation, it considerably reduces risk to enter negotiations with the incompetent partner. Additionally, each successful transportation becomes a brick in the building of your brand.
                        td.expander

    table.row.vert-mid.pb-0
        tr
            td.wrapper.offset-by-one.mq-pr0
                table.two.columns
                    tr
                        td.center
                            center
                                img(src="http://enkil.github.io/OpenSea/dist/img/pics/messages.png" width="43" height="33"  alt="").center
                        td.expander
            td.wrapper.last
                table.nine.columns
                    tr
                        td.right-text-pad
                            p We keep all history of negotiations on each contract and at any time you will be able to export it to your local file. This helps to avoid possible mistakes and guarantees honesty of the parties.
                        td.expander

    //- Last text block
    table.row
        tr
            td.wrapper.last
                table.twelve.columns
                    tr
                        td.text-pad
                            p Every position is like a lighthouse leading to an evolution of ship chartering. Such lights are burning only within small period of time, so you can help us to keep the fire by adding your actual positions regularly.
                        td.expander

    //- Button
    table.row
        tr
            td.wrapper.last.offset-by-three
                table.six.columns
                    tr
                        td.center.op-button
                            center
                                table.button.op-success
                                    tr
                                        td
                                            a(href='#') Add my first position
                        td.expander

    //- Farewell text
    table.row
        tr
            td.wrapper.last
                table.twelve.columns
                    tr
                        td.text-pad.bottom-text-pad
                            i.
                                Fair winds and following seas! <br/>
                                Team OpenSea
                        td.expander
